doctype html
nav.navbar.navbar-inverse
	.container-fluid
		.navbar-header
			button.collapsed.navbar-toggle(type="button" data-toggle="collapse" data-target="#A" aria-expanded="false")
				span.sr-only Toggle navigation 
				span.icon-bar 
				span.icon-bar 
				span.icon-bar 
			a.navbar-brand(href="#") ZusonBlog
		#A.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/admin") 管理员 界面 