body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
}

a {
  color: #000;
}

a, a:active, a:link, a:hover{
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

#index .posts .row .col-md-12{
	margin-bottom: 5px;
}
#index .category p{
	font-size: 25px;
	text-align: center;
}
#post .interest ul,
#index .category ul{
	padding: 0;
	list-style-type: none;
}
#post .interest li,
#index .category li{
	height: 35px;
	line-height: 35px;
	border-bottom: solid 1px #bbb;
}
#index .posts .row .col-md-12 span em,
#post .post .row .col-md-12 span em,
#index .category em{
	color: #aaa;
}
#index .category em{
	/*float: right;*/
}
#post .post .col-md-12{
	margin-bottom: 10px;
}
#index .posts .row .col-md-12.title,
#post .post .row .col-md-12.title{
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
}
#index .posts .row .col-md-12 img{
	width: 100%;
	/*height: 100%;*/
}
#index .posts .row .col-md-12 span,
#post .post .row .col-md-12 span{
	margin-right: 10px;
	font-size: 17px;
}

#index .navbar,
#post .navbar {
	border-radius: 0;
}

#index .posts, 
#index .category,
#post .category,
#post .post,
#post .breadcrumb,
#post .interest,
#post .comments,
#post .submit {
	border-radius: 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;
}

#post .comment-body {
	border-bottom: 1px solid #ccc;
}

#post .comments {
	padding-bottom: 0;
}

#post .submit {
	background-color: #333;
	color: #555;
	padding-left: 0;
	padding-right: 0;
}

#post .submit input,
#post .submit .form-control {
	background-color: #eee;
	border: 0;
	margin-bottom: 10px;
	padding: 4px;
	border-radius: 0;
}

#post .submit .form-control:focus {
	box-shadow: none;
}

#post .submit button {
	float: right;
	border-radius: 0;
}

footer {
	min-height: 100px;
	background-color: #222;
	color: #fff;
}

footer p {
	margin-bottom: 0;
}

#login .container {
	position: absolute;
	left: 50%;
	top: 50%;
}

#login .col-md-5,
#login .col-md-2 {
	margin-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#login input,
#login button,
#login .input-group-addon {
	border-radius: 0;
	color: #fff;
}

#login .input-group-addon {
	color: #333;
	background-color: #555;
	border: none;
}

#login input {
	background-color: #444;
	border: none;
}

#login .form-control:focus {
	box-shadow: none;
	background-color: #666;
}

#login .fa {
	width: 14px;
}

#admin-index,
#admin-category,
#admin-push-post,
#admin-edit-post,
#admin-icomment,
#admin-logout {
	color: #fff;
}

#admin-index .admin-header ul li:nth-child(1) {
	border-left: 3px solid #E57373;
	background-color: #333;
}

#admin-index .admin-header ul li:nth-child(1) a {
	color: #fff;
}

#admin-category .admin-header ul li:nth-child(2) {
	border-left: 3px solid #BA68C8;
	background-color: #333;
}

#admin-category .admin-header ul li:nth-child(2) a {
	color: #fff;
}

#admin-push-post .admin-header ul li:nth-child(3) {
	border-left: 3px solid #9575CD;
	background-color: #333;
}

#admin-push-post .admin-header ul li:nth-child(3) a {
	color: #fff;
}

#admin-edit-post .admin-header ul li:nth-child(4) {
	border-left: 3px solid #FFB74D;
	background-color: #333;
}

#admin-edit-post .admin-header ul li:nth-child(4) a {
	color: #fff;
}

#admin-comment .admin-header ul li:nth-child(5) {
	border-left: 3px solid #4DD0E1;
	background-color: #333;
}

#admin-comment .admin-header ul li:nth-child(5) a {
	color: #fff;
}

#admin-logout .admin-header ul li:nth-child(6) {
	border-left: 3px solid #AED581;
	background-color: #333;
}

#admin-logout .admin-header ul li:nth-child(6) a {
	color: #fff;
}

#admin-category .btn-group {
	margin-right: 10px;
	margin-bottom: 10px; 
}

#admin-category input {
	margin-bottom: 10px;
}

#admin-push-post .row,
#admin-edit-post .row{
	margin-bottom: 10px;
}

#admin-comment .input-group {
	margin-bottom: 10px;
}

/*#admin-push-post .row:nth-child(7) {
	margin-bottom: 1px;
}

#admin-push-post .row:nth-child(7) .btn-group {
	padding: 0;
}*/

#admin-push-post .btn-info {
	float: right;
}

#admin-push-post .asterisk {
	display: inline-block;
	height: 34px;
	padding: 6px;
	line-height: 22px;
}

#admin-push-post .btn-primary {
	margin-right: 30px;
}

#admin-comment .comment {
	margin-bottom: 10px;
}

#admin-comment .comment .content {
	background-color: #fff;
	color: #222;
	padding: 5px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#admin-comment .comment .btn {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

#alert {
	position: fixed;
	left: 0;
	bottom: 20px;
}

#alert .alert{
	border-radius: 0;
}

#alert .alert strong {
	margin-right: 15px;
}

/* 电脑 */
@media screen and (min-width: 768px) {
	#login .container {
		width: 600px;
		height: 40px;
		margin-left: -300px;
		margin-top: -20px;
	}

	.admin-header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100px;
		height: 100%;
		background-color: #222;
	}

	.admin-header .navbar {
		border-radius: 0;
		border: none;
	}

	.admin-header .container-fluid,
	.admin-header #A {
		padding: 0;
	}

	.admin-header ul li {
		width: 100px;
	}

	.admin-header .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: -5px;
	}

	#admin-index,
	#admin-category,
	#admin-push-post,
	#admin-edit-post,
	#admin-comment,
	#admin-logout {
		margin-left: 120px;
		color: #fff;
		margin-top: 20px;
	}
}

/* 手机 */
@media screen and (max-width: 768px) {
	#login .container {
		width: 400px;
		height: 120px;
		margin-left: -200px;
		margin-top: -60px;
	}
}